body{
    background: #333;
    color: white;
    font-family:  Helvetica, Arial, sans-serif;
}

a{
    cursor: pointer;
}


.center-div{
    margin: 0 auto;
    width:80% ;/* value of your choice which suits your alignment */
    margin-top:10%;
}

.content-login{
    background: gray;
    padding: 20px;
    border-radius: 10px;
}
.img-logo-login{
    margin-bottom: 20px;
}