

aside{
    background: #333;
    color: white;
    border-right: 1px solid white ;
    padding: 10px;

}
aside.sidebar {
    position: fixed;
    top: 0;
    height: 100%;
    display: block;
    width: 200px;
}
aside.sidebar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
aside.sidebar ul a{
    margin: 0;
    padding: 15px 10px 15px 10px;
    color: whitesmoke;
    display: block;
    position: relative;
}
aside.sidebar ul a:hover{
    background: #545454;
    border-radius: 2px;
    color:#ED992B;
}
.icon-sidebar{
    margin-right: 5px;
}

.form-content{
    background: #efefef;
    padding: 5px 8px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    margin-right: 2%;
    margin-bottom: 15px;
    float: left;
    width: 48%;
}
.inside-title-form{
    font-size:10px;
}

.main-content{
   padding-left: 230px;
    padding-top: 10px;
}

.header-main-content{
    margin: 25px 25px 40px 5px;
}

.body-main-content{

}
.btn{
    cursor: pointer;
}

.title-main-content{
    color:#ED992B;
    font-size:25px ;
}

.separator{
    height: 30px;
    width: 10px;
}

.datas-user{
    margin-top: 20px;
    background: #5a5a5a;
    padding: 10px;
    border-radius: 3px;
}
.container-graph{
    width: 40%;

    float: left;
}
.container-graph:nth-child(odd){
    margin-right: 10%;
}

table.content-details-result{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 12px;
}

table.content-details-result td{
    padding: 5px;
}
table.content-details-result td:nth-child(odd){
   background: #f4f4f4;
}

.btn-view-result{
    position: fixed;
    right: 15px;
    z-index: 1000;
}

.user-name{
    font-size: 15px;
    font-weight: bold;
}

a:hover{
    color: #ED992B;
    text-decoration: none;
}

.name-form{font-size: 18px}